.slider {
  .swiper {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .swiperSlide {
    background-position: center;
    background-size: cover;
    width: 200px !important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  background-color: rgb(29, 29, 29);
  margin-top: 60px;
  padding: 0;
  .spinner {
    text-align: center;
    padding: 50px;
  }
}
