.footer {
  background-color: black;
  padding: 20px;
  .logo {
    padding: 30px 30px;
  }
  .li {
    color: rgb(255, 255, 255);
    padding: 20px 10px;
    ul {
      padding: 5px;
    }
    li {
      color: rgb(190, 190, 190);
      list-style: none;
    }
  }
}
