$theme-colors: (
  "gold": rgb(238, 255, 0),
  "sia": rgb(0, 0, 0),
);
.btn-zard {
  background-color: rgb(255, 230, 0) !important;
  color: rgb(0, 0, 0) !important;
}
.nav-dark {
  .nav-link {
    border-top-right-radius: 5px;
  }
  .nav-link.active,
  .show > .nav-link {
    color: rgb(31, 31, 31) !important;
    background-color: rgb(167, 167, 167);
  }
}

@import "~bootstrap/scss/bootstrap";
