.nav {
  background-color: rgb(29, 29, 29);
  padding: 20px 0;
  .navItem {
    color: rgb(131, 131, 131) !important;
    margin: 10px 0;
  }
}
.bestMovie {
  background-color: rgb(17, 17, 17);
  padding: 20px;
  h1 {
    color: aliceblue;
    padding: 20px;
  }
}
.bestTV {
  color: aliceblue;
  background-color: rgb(29, 29, 29);
  padding: 20px;
  h1 {
    padding: 20px;
  }
}
